@import './reset.scss';

html {
  font-size: 14px;
}

body {
  word-break: break-all;

  font: 1rem/1 sans-serif;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
